.buttonLocation{
  margin: 0 auto;
  a {
    margin-right: 2rem;
    color: white;
  }
}

.content {

    flex-grow: 1;
  }
  h1 {
    font-size: .5rem;
  }

.button {
  background: #245fc1;
  border: none;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1;
  padding: 1rem;
  text-decoration: none;
  list-style: none;
}

.listHeader {
  h1 {
    font-size: 1rem;
  }
  background: #f7f7f7;
  border: 1px solid darken(#f7f7f7, 7%);
  color: #666;
  display: flex;
  justify-content: space-between;
  padding: .2rem .6rem;

}

p {
  padding: 1rem 0;
  text-align: center;
}