.buttonLocation {
  a {
    color: white;
  }
}

.content {
  flex-grow: 1;
}

h1 {
  font-size: .5rem;
}

.button {
  display: flex;
  justify-content: flex-end;

  a {
    background: #245fc1;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1;
    padding: 1rem;
  }
}

.listHeader {
  h1 {
    font-size: 1rem;
    font-weight: 400;
  }
  background: #f7f7f7;
  border: 1px solid darken(#f7f7f7, 7%);
  color: #666;
  display: flex;
  justify-content: space-between;
  padding: .2rem .6rem;
}

p {
  font-size: 1.25rem;
  margin-top: 1rem;
  text-align: center;
}